# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3
*.db

# Data caches and intermediate files
interim/
vector_store/

# Environment variables
.env

# IDEs and editors
.vscode/git
.idea/
*.swp
